<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>Kenny Maness</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.resumebutton {
  border-radius: 15px;
}
.resumebutton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("{% static 'media/progress_6.jpg' %}");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("{% static 'media/kenny-oddsnends.jpg' %}");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("{% static 'media/kenny-float.jpg' %}");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-music"></i> PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i> -->
    </a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <!-- <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY <span class="w3-hide-small">WEBSITE</span> LOGO</span> -->
    <img src="{% static 'media/transparentname.PNG' %}" style="max-width: 100%; height: auto;" class="w3-animate-top">
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p>Thanks for visiting my portfolio! My name is Kenny Maness, 
    and I’m a software programmer & audio engineer.
    My software experience started with a coding bootcamp program 
        through the nonprofit organization LaunchCode in St. Louis, Missouri. 
        During the bootcamp, I gained a foundation in Python and Java - 
        and then the pandemic hit, and I went back to my audio engineer roots 
        until an opportunity for a Developer Apprenticeship popped up. 
        I gained some more skills in that time - I’m a constant learner 
        who loves languages (just ask me about my fluency in Swedish). 
        More recently, I learned JavaScript and Node.js. - look out for some projects soon!
  </p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <!-- <p><b><i class="fa fa-user w3-margin-right"></i>Kenny Maness</b></p><br> -->
      <img src="{% static 'media/kenny-smile-portrait.jpg' %}" class="w3-circle w3-image" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>I recently completed a contract with Charter Communications, 
        and I’m currently looking for my next step. To show you what you’d get from hiring me, 
        I built a portfolio that’s also my website. If you opened the hood to my website, 
        you would see a Django app hosted on an Nginx server in a Raspberry Pi.
        Some fun facts about me: My partner and I live in St. Louis with our little dog Bento. 
        We have a board game collection that seems to grow on its own. On weekends, 
        you can find us kayaking, hosting D&D in our basement board game den, 
        or strolling leisurely through IKEA.</p>
        <div>
          <a href="{% static 'media/kenneth_maness_resume.pdf' %}" download="kenneth_maness_resume" type="pdf" class="w3-button w3-light-grey w3-padding-large w3-section resumebutton">
          <i class="fa fa-download"></i> Download My Resume
        </a>
      </div>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">I'm really good at:</p>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Software Engineering</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-music"></i>Music Production</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-eye"></i>Dungeons & Dragons</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">3+</span><br>
    Years as a Software Developer
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">20+</span><br>
    Projects Published
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">50+</span><br>
    Songs Written, Produced, & Released
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">4,000,000+</span><br>
    Music Streams
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">MUSIC</h3>
  <p class="w3-center"><em>I've been writing and producing music independently since 2009.<br>Check out some of it below!</em></p>
  <!-- <p class="w3-center"><em>Listen to one of my songs below, and click 'more' to see more of my music!</em></p><br> -->

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div>
        <iframe 
        style="border: 0; width: 350px; height: 350px;" 
        src="https://bandcamp.com/EmbeddedPlayer/album=1415047694/size=large/bgcol=ffffff/linkcol=e99708/minimal=true/track=2668464888/transparent=true/" 
        seamless>
            <a href="https://voyagemusic.bandcamp.com/album/from-stockholm-to-seattle">From Stockholm to Seattle by Voyage</a>
        </iframe>
    </div>
    <!-- <a href="{% url 'music' %}"><button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px">MORE MUSIC</button></a> -->
  </div>

  <div class="w3-center">
  <h3 class="w3-center">SOFTWARE</h3>
  <p class="w3-center"><em>I'm also a software developer and proud LaunchCode graduate.<br>Check out some of my projects!</em></p>
  <div class="github-card" data-github="kennzoil" data-width="400" data-height="318" data-theme="medium"></div><script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">GET IN TOUCH</h3>
  <p class="w3-center"><em>Feel free to send me an email, or follow me on social media!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="{% static 'media/map.PNG' %}" class="w3-image w3-round" style="width:100%">
    </div>
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <!-- <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> St. Louis, US<br> -->
        <!-- <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +00 151515<br> -->
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: kenneth.l.maness@gmail.com<br>
        <i class="fa fa-linkedin fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> <a href="https://www.linkedin.com/in/kennethmaness/" target="_blank">LinkedIn</a><br>
      </div>
      <div>
        <a href="{% static 'media/kenneth_maness_resume.pdf' %}" download="kenneth_maness_resume" type="pdf" class="w3-button w3-light-grey w3-padding-large w3-section resumebutton">
        <i class="fa fa-download"></i>Download My Resume
      </a>
    </div>
      <!-- <p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form> -->
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <!-- <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div> -->
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}

// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}

// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
